html, body {
  background-color: #f9f9f9;
  font-family: "Helvetica Neue", Helvetica;

  @include breakpoint($landscape-bp) {
    padding: 0 1em;
  }
}

header {
  margin: 3em auto 1em auto;
  padding: 0 2em;
  max-width: $max-page-width;
  box-sizing: border-box;
}

section {
  background-color: white;
  margin: 1em auto;
  padding: 1.5em 2em;
  box-sizing: border-box;

  @include breakpoint($landscape-bp) {
    max-width: $max-page-width;
    border-radius: 10px;
  }
}

@for $i from 1 through 6 {
  h#{$i} {
    font-weight: 100;
    margin-bottom: .5em;
    margin-top: 1em;

    &:first-child {
      margin-top: 0;
    }

    small {
      color: #909090;
      font-weight: normal;
      font-size: .7em;

      section & {
        color: #aeaeae;
      }
    }
  }
}

dl {
  dt {
    font-weight: bold !important;
    margin-bottom: .2em;
  }
  dd {
    margin-bottom: 1em;
  }
}

li {
  margin-bottom: 0.5em;
}

ol {
  list-style-type: decimal;
}

ul ol {
  margin: 0.5em 0 0.7em 2em ;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4, h5, h6 {
  font-weight: bold;
  font-size: 1.2em;
}

pre {
  font-family: Menlo, monospace;
}

em {
  font-style: italic;
}