body.paper {
  font-family: Georgia;

  @for $i from 1 through 6 {
    h#{$i}{
      font-weight: bold;
    }
  }

  & > header {
    padding: 1em;
    text-align: center;

    @include breakpoint($portrait-bp) {
      padding: 3em 2em;
    }

    small {
      color: #9c9c9c;
    }
  }

  article {
    background-color: white;
    padding: 2em;
    max-width: $max-page-width;
    margin: 0 auto;

    header {
      padding: 0;
      margin-top: 0;

      h1 {
        line-height: 1.5em;
      }

      .breaking {
        display: inline;
        color: white;
        font-size: 0.8em;

        background-color: black;
        border-radius: 0.3em;
        padding: 0.1em 0.3em;
      }

      .date-and-author {
        font-size: 0.7em;
        color: #8E8E8E;
      }
    }

    p {
      margin: 1em 0 1.5em 0;
      &.teaser {
        font-weight: bold;
      }

      &.text {
        clear: both;
        column-count: 1;
        column-rule: thin solid black;
        column-gap: 2em;
        text-align: justify;
        word-break: normal;
        hyphens: auto;

        @include breakpoint($portrait-bp) {
          column-count: 2;
        }

        @include breakpoint($landscape-bp) {
          column-count: 3;
        }
      }

      &.article-info {
        font-size: 0.7em;
      }
    }

    .image {
      padding: 0;
      text-align: center;
      margin: 0 -2em;
      max-height: 40vh;
      overflow: hidden;

      img {
        width: 100%;
      }
      a {
        &:hover {
          background-color: transparent;
        }
      }

      @include breakpoint($portrait-bp) {
        max-height: none;
        margin: 0 auto;
        overflow: visible;

        img {
          box-sizing: border-box;
          border: 1px solid #ddd;
          padding: 1em;
          width: auto;
          max-width: 70%;
        }
      }

      @include breakpoint($landscape-bp) {
      }
    }

    section.interface {
      border: thin solid #F3F3FE;

      font-family: "Helvetica Neue", Helvetica;
    }
  }
}