section {
  &.interface {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    aside {
      margin-top: 3em;
      width: 100%;
      box-sizing: border-box;

      select {
        max-width: 100%;
      }
    }

    .chart {
      width: 100%;
      height: 40em;

      div.vis {
        width: 100%;
        height: 90%;
        padding-left: 4em;
        
      }
    }

    @include breakpoint($landscape-bp) {
      aside {
        margin-top: 0;
        border-left: thin solid #ddd;
        padding-left: 20px;

        width: 20%;
      }

      .chart {
        width: 80%;
        div.vis {
          padding-left: 0;
        }
      }
    }
  }

  &.infoPanel {
    width: 20%;
    height: 90%;
  	background-color: none;
    float: left;
  }

  &.code {
    width: 100%;
  }
}


a {
  &:hover {
    background-color: #E0E0E0;
  }

  &:active {
    color: blue;
  }
}
