.axis {
  text {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
  }

  .domain {
    stroke-width: 2px;
    stroke: black;
    fill: none;
  }

  .tick line {
    stroke-width: 1px;
    stroke: black;
  }
}