$selector-height-lg: 4em;
$selector-height-sm: 2em;

div.dim-select {
	float: left;
	position: relative;
	white-space: nowrap;
  
  &.horizontal, &.vertical {
  	height: $selector-height-sm;
  	border-top: 0.1em solid #DDD;
  	border-bottom: 0.1em solid #DDD;
  	overflow: hidden;
    @include breakpoint($landscape-dimselect-bp) {
      height: $selector-height-lg; 
    }
    
    &:before, &:after {
    	content: " ";
    	height: 100%;
    	position: absolute;
    	width: 20%;
    	top: 0;
    	z-index: 2;
    }
    
    &:before {
    	left: 0;
      @include linear-gradient(to left, rgba(white,0), rgba(white,1));
    }

    &:after {
    	right: 0;
      @include linear-gradient(to right, rgba(white,0), rgba(white,1));
    }
  }
  
  &.horizontal {
    width: calc(95% - #{$selector-height-sm});
  	margin-left: $selector-height-sm;
    @include breakpoint($landscape-dimselect-bp) {
      width: calc(95% - #{$selector-height-lg});
      margin-left: $selector-height-lg;
    }
  }
  
  &.vertical {
  	transform: rotate(270deg) translateX($selector-height-sm);
  	transform-origin: left top;
  	width: calc(40em * 0.9);
    @include breakpoint($landscape-dimselect-bp) {
          transform: rotate(270deg) translateX($selector-height-lg);
        }
  }
  
  ul {
  	margin: 0;
  	margin-left: 30%;
  	width: 100%;
  	height: 100%;
  	z-index: 1;
    
    li {
    	margin: 0; 
    	height: 100%;
    	display: inline-block;
    	width: 40%;
    	text-align: center;
        overflow-x: hidden;
        line-height: $selector-height-sm;
        @include breakpoint($landscape-dimselect-bp) {
          line-height: $selector-height-lg; 
        }
      
      span {
      	/*position: relative;
      	top:50%;
      	transform: translateY(-50%);
		text-transform: capitalize;*/
	  }
    }
  }
}