.tab-content#filters {
  li {
    display: block;
    height: 1.6em;
    input[type="number"] {
      box-sizing: border-box;
      width: 30%;
      float: left;
    }
    span {
      float: left;
      display: block;
      box-sizing: border-box;
      padding: 0 0.5em;
      width: 40%;
      height: 1.6em;
      line-height: 1.6em;
      text-align: center;
      text-overflow: ellipsis;
      overflow-x: hidden;
      text-transform: capitalize;
      
    }
  }
  
  div.settings {
    text-align: right;
    margin-bottom: 1em;
    button {
      margin-top: 1em;
    }
  }
}