select.dim-select-select {
  text-transform: capitalize;
  margin-bottom: 0.2em;
  display: block;
  width:100%;
}

input.inline-number {
  width: 3em;
  height: auto;
}

div.tab-content {
  div:not([class]) {
    span:first-child {
      display: inline-block;
      width: 50%;
    }
  }
}