ul.switch {
  display: flex;
  flex-direction: row;

  li {
    border: 1px solid black;
    font-size: .8em;
    overflow: hidden;
    &:first-child {
      border-top-left-radius: .2em;
      border-bottom-left-radius: .2em;
    }
    &:last-child {
      border-top-right-radius: .2em;
      border-bottom-right-radius: .2em;
    }

    &:not(:first-child) {
      margin-left: -1px;
    }

    &.active {
      background-color: black;

      a {
        color: white;
      }

      &:hover {
        a {
          color: black;
        }
      }
    }

    a {
      display: block;
      padding: .2em .4em;
      color: black;
      text-decoration: none;
    }
  }
}