.tabs {
  ul.bar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
    li {       
      flex-grow: 1;
      text-align: center;
      border: 1px solid #ddd;
      border-radius: .2em;
      margin: 0.2em;
      
      &.active {
        background-color: #eee;
      }
      
      &:hover {
        cursor: pointer;
        background-color: #ddd;
      }
      
      a {
        display: inline-block;
        color: black;
        text-decoration: none;
        padding: 0.2em 0.6em;
        
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
  
  .tab-content {
    display: none;
    
    padding-top: 1em;
    
    &.active {
      display: block;
    }
  }
}