ul.visible-elements {
  list-style: disc;


  @include breakpoint($landscape-bp) {
    max-height: 30em;
    overflow: {
      x: hidden;
      y: scroll;
    }
  }

  li {
    margin-left: 1.25em;

    strong {
      font-weight: bold;
    }

    &.no-elements {
      list-style: none;
      font-style: italic;
      margin-left: 0;
    }
  }
}