.axis text {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none; }

.axis .domain {
  stroke-width: 2px;
  stroke: black;
  fill: none; }

.axis .tick line {
  stroke-width: 1px;
  stroke: black; }

div.dim-select {
  float: left;
  position: relative;
  white-space: nowrap; }
  div.dim-select.horizontal, div.dim-select.vertical {
    height: 2em;
    border-top: 0.1em solid #DDD;
    border-bottom: 0.1em solid #DDD;
    overflow: hidden; }
    @media (min-width: 1350px) {
      div.dim-select.horizontal, div.dim-select.vertical {
        height: 4em; } }
    div.dim-select.horizontal:before, div.dim-select.horizontal:after, div.dim-select.vertical:before, div.dim-select.vertical:after {
      content: " ";
      height: 100%;
      position: absolute;
      width: 20%;
      top: 0;
      z-index: 2; }
    div.dim-select.horizontal:before, div.dim-select.vertical:before {
      left: 0;
      background: rgba(255, 255, 255, 0);
      background: -webkit-linear-gradient(90deg-to left, rgba(255, 255, 255, 0), white);
      background: linear-gradient(to left, rgba(255, 255, 255, 0), white); }
    div.dim-select.horizontal:after, div.dim-select.vertical:after {
      right: 0;
      background: rgba(255, 255, 255, 0);
      background: -webkit-linear-gradient(90deg-to right, rgba(255, 255, 255, 0), white);
      background: linear-gradient(to right, rgba(255, 255, 255, 0), white); }
  div.dim-select.horizontal {
    width: calc(95% - 2em);
    margin-left: 2em; }
    @media (min-width: 1350px) {
      div.dim-select.horizontal {
        width: calc(95% - 4em);
        margin-left: 4em; } }
  div.dim-select.vertical {
    transform: rotate(270deg) translateX(2em);
    transform-origin: left top;
    width: calc(40em * 0.9); }
    @media (min-width: 1350px) {
      div.dim-select.vertical {
        transform: rotate(270deg) translateX(4em); } }
  div.dim-select ul {
    margin: 0;
    margin-left: 30%;
    width: 100%;
    height: 100%;
    z-index: 1; }
    div.dim-select ul li {
      margin: 0;
      height: 100%;
      display: inline-block;
      width: 40%;
      text-align: center;
      overflow-x: hidden;
      line-height: 2em; }
      @media (min-width: 1350px) {
        div.dim-select ul li {
          line-height: 4em; } }
      div.dim-select ul li span {
        /*position: relative;
      	top:50%;
      	transform: translateY(-50%);
		text-transform: capitalize;*/ }

ul.switch {
  display: flex;
  flex-direction: row; }
  ul.switch li {
    border: 1px solid black;
    font-size: .8em;
    overflow: hidden; }
    ul.switch li:first-child {
      border-top-left-radius: .2em;
      border-bottom-left-radius: .2em; }
    ul.switch li:last-child {
      border-top-right-radius: .2em;
      border-bottom-right-radius: .2em; }
    ul.switch li:not(:first-child) {
      margin-left: -1px; }
    ul.switch li.active {
      background-color: black; }
      ul.switch li.active a {
        color: white; }
      ul.switch li.active:hover a {
        color: black; }
    ul.switch li a {
      display: block;
      padding: 0.2em 0.4em;
      color: black;
      text-decoration: none; }

.tabs ul.bar {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }
  .tabs ul.bar li {
    flex-grow: 1;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: .2em;
    margin: 0.2em; }
    .tabs ul.bar li.active {
      background-color: #eee; }
    .tabs ul.bar li:hover {
      cursor: pointer;
      background-color: #ddd; }
    .tabs ul.bar li a {
      display: inline-block;
      color: black;
      text-decoration: none;
      padding: 0.2em 0.6em; }
      .tabs ul.bar li a:hover {
        background-color: transparent; }

.tabs .tab-content {
  display: none;
  padding-top: 1em; }
  .tabs .tab-content.active {
    display: block; }

.tab-content#filters li {
  display: block;
  height: 1.6em; }
  .tab-content#filters li input[type="number"] {
    box-sizing: border-box;
    width: 30%;
    float: left; }
  .tab-content#filters li span {
    float: left;
    display: block;
    box-sizing: border-box;
    padding: 0 0.5em;
    width: 40%;
    height: 1.6em;
    line-height: 1.6em;
    text-align: center;
    text-overflow: ellipsis;
    overflow-x: hidden;
    text-transform: capitalize; }

.tab-content#filters div.settings {
  text-align: right;
  margin-bottom: 1em; }
  .tab-content#filters div.settings button {
    margin-top: 1em; }

ul.visible-elements {
  list-style: disc; }
  @media (min-width: 1000px) {
    ul.visible-elements {
      max-height: 30em;
      overflow-x: hidden;
      overflow-y: scroll; } }
  ul.visible-elements li {
    margin-left: 1.25em; }
    ul.visible-elements li strong {
      font-weight: bold; }
    ul.visible-elements li.no-elements {
      list-style: none;
      font-style: italic;
      margin-left: 0; }

select.dim-select-select {
  text-transform: capitalize;
  margin-bottom: 0.2em;
  display: block;
  width: 100%; }

input.inline-number {
  width: 3em;
  height: auto; }

div.tab-content div:not([class]) span:first-child {
  display: inline-block;
  width: 50%; }

html, body {
  background-color: #f9f9f9;
  font-family: "Helvetica Neue", Helvetica; }
  @media (min-width: 1000px) {
    html, body {
      padding: 0 1em; } }

header {
  margin: 3em auto 1em auto;
  padding: 0 2em;
  max-width: 90em;
  box-sizing: border-box; }

section {
  background-color: white;
  margin: 1em auto;
  padding: 1.5em 2em;
  box-sizing: border-box; }
  @media (min-width: 1000px) {
    section {
      max-width: 90em;
      border-radius: 10px; } }

h1 {
  font-weight: 100;
  margin-bottom: .5em;
  margin-top: 1em; }
  h1:first-child {
    margin-top: 0; }
  h1 small {
    color: #909090;
    font-weight: normal;
    font-size: .7em; }
    section h1 small {
      color: #aeaeae; }

h2 {
  font-weight: 100;
  margin-bottom: .5em;
  margin-top: 1em; }
  h2:first-child {
    margin-top: 0; }
  h2 small {
    color: #909090;
    font-weight: normal;
    font-size: .7em; }
    section h2 small {
      color: #aeaeae; }

h3 {
  font-weight: 100;
  margin-bottom: .5em;
  margin-top: 1em; }
  h3:first-child {
    margin-top: 0; }
  h3 small {
    color: #909090;
    font-weight: normal;
    font-size: .7em; }
    section h3 small {
      color: #aeaeae; }

h4 {
  font-weight: 100;
  margin-bottom: .5em;
  margin-top: 1em; }
  h4:first-child {
    margin-top: 0; }
  h4 small {
    color: #909090;
    font-weight: normal;
    font-size: .7em; }
    section h4 small {
      color: #aeaeae; }

h5 {
  font-weight: 100;
  margin-bottom: .5em;
  margin-top: 1em; }
  h5:first-child {
    margin-top: 0; }
  h5 small {
    color: #909090;
    font-weight: normal;
    font-size: .7em; }
    section h5 small {
      color: #aeaeae; }

h6 {
  font-weight: 100;
  margin-bottom: .5em;
  margin-top: 1em; }
  h6:first-child {
    margin-top: 0; }
  h6 small {
    color: #909090;
    font-weight: normal;
    font-size: .7em; }
    section h6 small {
      color: #aeaeae; }

dl dt {
  font-weight: bold !important;
  margin-bottom: .2em; }

dl dd {
  margin-bottom: 1em; }

li {
  margin-bottom: 0.5em; }

ol {
  list-style-type: decimal; }

ul ol {
  margin: 0.5em 0 0.7em 2em; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.6em; }

h3 {
  font-size: 1.4em; }

h4, h5, h6 {
  font-weight: bold;
  font-size: 1.2em; }

pre {
  font-family: Menlo, monospace; }

em {
  font-style: italic; }

section.interface {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  section.interface aside {
    margin-top: 3em;
    width: 100%;
    box-sizing: border-box; }
    section.interface aside select {
      max-width: 100%; }
  section.interface .chart {
    width: 100%;
    height: 40em; }
    section.interface .chart div.vis {
      width: 100%;
      height: 90%;
      padding-left: 4em; }
  @media (min-width: 1000px) {
    section.interface aside {
      margin-top: 0;
      border-left: thin solid #ddd;
      padding-left: 20px;
      width: 20%; }
    section.interface .chart {
      width: 80%; }
      section.interface .chart div.vis {
        padding-left: 0; } }

section.infoPanel {
  width: 20%;
  height: 90%;
  background-color: none;
  float: left; }

section.code {
  width: 100%; }

a:hover {
  background-color: #E0E0E0; }

a:active {
  color: blue; }

/*# sourceMappingURL=main.css.map */