body.paper {
  font-family: Georgia; }
  body.paper h1 {
    font-weight: bold; }
  body.paper h2 {
    font-weight: bold; }
  body.paper h3 {
    font-weight: bold; }
  body.paper h4 {
    font-weight: bold; }
  body.paper h5 {
    font-weight: bold; }
  body.paper h6 {
    font-weight: bold; }
  body.paper > header {
    padding: 1em;
    text-align: center; }
    @media (min-width: 500px) {
      body.paper > header {
        padding: 3em 2em; } }
    body.paper > header small {
      color: #9c9c9c; }
  body.paper article {
    background-color: white;
    padding: 2em;
    max-width: 90em;
    margin: 0 auto; }
    body.paper article header {
      padding: 0;
      margin-top: 0; }
      body.paper article header h1 {
        line-height: 1.5em; }
      body.paper article header .breaking {
        display: inline;
        color: white;
        font-size: 0.8em;
        background-color: black;
        border-radius: 0.3em;
        padding: 0.1em 0.3em; }
      body.paper article header .date-and-author {
        font-size: 0.7em;
        color: #8E8E8E; }
    body.paper article p {
      margin: 1em 0 1.5em 0; }
      body.paper article p.teaser {
        font-weight: bold; }
      body.paper article p.text {
        clear: both;
        column-count: 1;
        column-rule: thin solid black;
        column-gap: 2em;
        text-align: justify;
        word-break: normal;
        hyphens: auto; }
        @media (min-width: 500px) {
          body.paper article p.text {
            column-count: 2; } }
        @media (min-width: 1000px) {
          body.paper article p.text {
            column-count: 3; } }
      body.paper article p.article-info {
        font-size: 0.7em; }
    body.paper article .image {
      padding: 0;
      text-align: center;
      margin: 0 -2em;
      max-height: 40vh;
      overflow: hidden; }
      body.paper article .image img {
        width: 100%; }
      body.paper article .image a:hover {
        background-color: transparent; }
      @media (min-width: 500px) {
        body.paper article .image {
          max-height: none;
          margin: 0 auto;
          overflow: visible; }
          body.paper article .image img {
            box-sizing: border-box;
            border: 1px solid #ddd;
            padding: 1em;
            width: auto;
            max-width: 70%; } }
    body.paper article section.interface {
      border: thin solid #F3F3FE;
      font-family: "Helvetica Neue", Helvetica; }

/*# sourceMappingURL=paper.css.map */
